<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("includes/head.ejs") %>
</head>
<body>
    <main>
        <h1>Logs</h1>

        <%- include("includes/listing.ejs", {logs}) %>
    </main>

    <%- include("includes/footer.ejs") %>
</body>
</html>