:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

html, body {
    margin: 0;
    padding: 0;

    color: white;
    background-color: black;
}

#nav {
    padding: 40px;

    display: flex;

    align-items: center;
    justify-content: space-between;

    &__branding {
        &, &>* {
            vertical-align: middle;
        }

        &__zigtools {
            height: 40px;

            border-right: 2px solid rgb(185, 185, 185);
            border-right-style: dashed;

            padding-right: 15px;
            margin-right: 15px;
        }

        &__zls {
            height: 30px;
        }
    }

    &__links {
        a {
            color: white;
            font-size: 18pt;
        }
    }
}

main {
    padding: 40px;
    padding-top: 20px;

    h1 {
        margin-top: 0;
        margin-bottom: 0;

        font-size: 32pt;
        font-weight: 900;
        letter-spacing: -0.022em;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 40px;
        
        font-family: monospace;
    }

    th {
        margin-top: 40px;

        font-size: 20pt;
        font-weight: 600;
        letter-spacing: -0.021em;
    }

    p, a {
        color: white;
        font-size: 14pt;
        letter-spacing: -0.011em;
    }
}

.log-listing {
    margin-top: 40px;
    width: 100%;

    time {
        font-weight: 500;
    }

    &-links {
        &>a {
            display: inline-block;

            margin-right: 20px;
        }
    }

    td {
        padding: 5px;

        text-align: center;
    }

    tr {
        &:nth-child(2n) {
            background-color: rgb(63, 63, 63);
        }
    }
}
