<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sus</title>

    <!-- HTML in your document's head -->
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav id="nav">
    <div id="nav__branding">
        <img src="https://zigtools.github.io/install-zls/img/zigtools-textonly-opt.svg" alt="zigtools" id="nav__branding__zigtools">
        <img src="https://zigtools.github.io/install-zls/img/zls-opt.svg" alt="zls" id="nav__branding__zls">
    </div>

    <div id="nav__links">
        <a href="/">Home</a>
    </div>
</nav>
